<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>EX1 - Palindromo</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <form action="./ex1" method="post">
                <input name="min" type="number" placeholder="digite um valor minimo" min="0">
                <input name="max" type="number" placeholder="digite um valor maximo" min="1">
                <button type="submit">Pegar palindromos</button>
                <div class="resultados"> 
                    <% if (resultados != null) { %>
                        <% if (resultados.length == 0) { %>
                            <p>Não há palindromos nessa faixa de números</p>
                            <% } for(var i=0; i<resultados.length; i++) {%>
                                <span><%= resultados[i] %></span>
                                <% } %>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</body>

</html>