<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>EX 3 - Cadastro Veículo</title>
</head>

<body>


    <div class="container">
        <div class="card flexcolumn">
            <form action="./ex3" method="post">

                <select name="veiculo" id="veiculo" onchange="Javascript: changeVeiculo(this.value);" onload="Javascript: changeVeiculo('carro');">
                        <option name="carro" >carro</option>
                        <option name="moto" >moto</option>
                </select>
                <input type="text" name="modelo" id="" placeholder="Digite o modelo" required>
                <input type="number" name="ano" placeholder="Digite o ano do veículo" min="1900" max="2099" step="1" required>
                <input type="text" name="marca" id="" placeholder="Digite a marca" required>

                <div id="portas">
                    <div class="flexrow">
                        <p>Portas:</p>
                        <div><input type="radio" id="zero" name="portas" value="0" checked>
                            <label for="zero">0</label></div>
                        <div><input type="radio" id="dois" name="portas" value="2">
                            <label for="dois">2</label></div>
                        <div><input type="radio" id="quatro" name="portas" value="4">
                            <label for="quatro">4</label></div>
                    </div>


                </div>

                <div id="passageiros">
                    <div class="flexrow">
                        <p>Passageiros:</p>
                        <input type="radio" id="umpassageiro" name="passageiros" value="1" checked>
                        <label for="zero">1</label>
                        <input type="radio" id="doispasssageiros" name="passageiros" value="2">
                        <label for="dois">2</label>
                    </div>
                </div>

                <button type="submit">Cadastrar</button>
            </form>
            <% if (cadastrado) { %>
                <h2>
                    <%= "Dados salvos com sucesso!" %>
                </h2>
                <% } %>
        </div>

    </div>
    <script>
        function changeVeiculo(value) {
            switch (value) {
                case 'moto':
                    document.getElementById('portas').style.display = "none"
                    document.getElementById('passageiros').style.display = "block"
                    break;
                case 'carro':
                    document.getElementById('passageiros').style.display = "none"
                    document.getElementById('portas').style.display = "block"
                    break;
                default:
                    break;
            }
        }
    </script>
</body>


</html>