<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>EX 3 - Cadastro Veículo</title>
</head>
<body>


  <div class="container">
    <div class="card">
      <form action="./ex3">
        <select name="veiculo" id="veiculo" onchange="Javascript: changeVeiculo(this.value);" onload="Javascript: changeVeiculo('carro');" >
          <option name="carro" value="carro">Carro</option>
          <option name="moto" value="moto">Moto</option>
        </select>
        <input type="text" name="modelo" id="" placeholder="Digite o modelo" required>
        <input type="number" placeholder="Digite o ano do veículo" min="1900" max="2099" step="1" required>
        <input type="text" name="marca" id="" placeholder="Digite a marca" required>
        
        <div class="flexrow" id="portas">
          <p>portas:</p>

          <input type="radio" id="zero" name="portas" value="" checked>
          <label for="zero">0</label>
          <input type="radio" id="dois" name="portas" value="">
          <label for="dois">2</label>
          <input type="radio" id="quatro" name="portas" value="">
          <label for="quatro">4</label>

        </div>

        <div class="flexrow" id="passageiros">
          <p>passageiros:</p>

          <input type="radio" id="umpassageiro" name="passageiro" value="" checked>
          <label for="zero">1</label>
          <input type="radio" id="doispasssageiros" name="passageiro" value="">
          <label for="dois">2</label>
        
        </div>

        <button type="submit">Cadastrar</button>
      </form>
    </div>
    <% if (cadastrado) { %>
      <h2><%= "dados salvos com sucesso" %></h2>
    <% } %>
</div>  
<script>
  function changeVeiculo(value){
    switch (value) {
       case 'moto':
           document.getElementById('portas').style.display = "none"
           document.getElementById('passageiros').style.display = "block"
           break;
       case 'carro':
           document.getElementById('passageiros').style.display = "none"
           document.getElementById('portas').style.display = "block"
           break;
       default:
           break;
    }
  }
</script>
</body>


</html>