<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>TEMPLATE</title>
</head>

<body>



    <main class="card flexcolumn container">

        <img src="images/logo.png" alt="logo">
        <div class="flexrow">
            <a href="./ex1">
                <div class="botao">Exercício 1
                    <p class="legenda">Pegar palindromos</p>
                </div>
            </a>

            <a href="/ex2">
                <div class="botao">Exercício 2
                    <p class="legenda">Calcular troco</p>
                </div>
            </a>
        </div>
        <div class="flexrow flex">
            <a href="/ex3">
                <div class="botao">Exercício 3
                    <p class="legenda">Cadastrar veículo</p>
                </div>
            </a>

            <a href="/ex4">
                <div class="botao">Exercício 4
                    <p class="legenda">Consulta de CEPS</p>
                </div>
            </a>
        </div>



    </main>




</body>

</html>