/* .botao {
  display: flex;
  color: blue;
} */

* {
    font-family: 'Roboto', sans-serif;
    /* margin: 0;
    padding: 0; */
}

body {
    min-height: 100vh;
    background: rgb(8, 84, 103);
    background: linear-gradient(175deg, rgba(8, 84, 103, 1) 9%, rgba(175, 167, 187, 1) 71%, rgba(244, 192, 179, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    font-size: smaller;
    text-align: center;
}

#passageiros {
    display: none;
}

.botao {
    text-align: center;
    font-size: x-large;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 5px;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 10px;
    transition-duration: 1s;
}

.botao:hover {
    background: rgb(8, 84, 103);
    color: white;
    transition: 0.5s;
    transform: scale(1.1);
}

h1 {
    text-align: center;
    font-size: xx-large;
    transition: 1s;
}

h1:hover {
    letter-spacing: 5px;
    transition: 1s;
    color: whitesmoke;
}

.legenda {
    font-size: small;
}


/* .quebra {
    width: content;
} */

a {
    text-decoration: none;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: min-content;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    outline: none;
    border-style: none;
    box-shadow: inset 4px 4px 10px -3px #949393;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    background-color: ghostwhite;
    transition: 1s;
}

button:hover {
    background: rgb(8, 84, 103);
    color: white;
    transition: 1s;
}

select {
    outline: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border-style: none;
    background-color: ghostwhite;
    box-shadow: inset 4px 4px 10px -3px #949393;
}

.flexrow {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.resultados {
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 10px;
    margin: 10px;
}